<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
    <title>Edit ToDo Item</title>
</head>
<body>

<div class="container">
    <div class="row mt-5">
        <div class="col-2">
            <p>
                <a class="btn btn-outline-success" href="/"><i class="bi bi-arrow-left-square-fill"></i>Back</a>
            </p>
        </div>
        <div class="col-6">
            <h2>Edit ToDo Item</h2>
            <form class="row g-3" action="#" th:action="@{/todo/{id}(id=${todo.id})}" th:object="${todo}" method="POST">
                <div class="form-group">
                    <div class="col-6">
                        <label for="description">Description</label>
                        <input class="form-control" 
                        type="text" 
                        th:field="*{description}" 
                        id="description" 
                        placeholder="Description">
                    </div>
                    <div class="col-6 form-check">
                        <input class="form-check-input" 
                        type="checkbox" 
                        id="inputIsComplete" 
                        th:field="*{isComplete}"
                        th:checked="${isComplete} == true">
                        <label for="inputIsComplete" class="form-check-label">Completed?</label>
                    </div>

                    <input type="hidden" th:field="*{createdAt}" />
                    <input type="hidden" th:field="*{updatedAt}" />

                    <button type="submit" class="btn btn-outline-success">
                        <i class="bi bi-plus-square-fill">Update ToDo Item</i>
                    </button>
                </div>
            </form>
        </div>

    </div>

</div>

<script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>

</body>
</html>