<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Card</title>
</head>
<body>
    <h1>Add New Card to your Folder</h1>
    <form action="#" th:action="@{/create}" th:object="${product}" method="post">
        <p>
            Code: <input type="text" th:field="*{code}">
        </p>
        <P>
            Name: <input type="text" th:field="*{name}">
        </P>
        <p>
            Color: <input type="text" th:field="*{color}">
        </p>
        <p>
            Price: <input type="text" th:field="*{price}">
        </p>
        <p>
            Quantity: <input type="text" th:field="*{quantity}">
        </p>
        <p>
            <input type="submit" value="Create"> <input type="reset" value="Reset">
        </p>
    </form>
    
</body>
</html>